<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ulendoapp"
    android:exported="true">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UlendoApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".classActivities.DriverMyVehicles"
            android:exported="false" />
        <activity
            android:name=".classActivities.EditDriverProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".classActivities.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".classActivities.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".classActivities.DriverChats"
            android:exported="false" />
        <activity
            android:name=".classActivities.AddVehicle"
            android:exported="false" />
        <activity
            android:name=".classActivities.DriverProfile"
            android:exported="false" />
        <activity
            android:name=".classActivities.PassengerChats"
            android:exported="false" />
        <activity
            android:name=".classActivities.UserProfile"
            android:exported="false" />
        <activity
            android:name=".classActivities.EditUserProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".classActivities.HomeDriver"
            android:exported="false" />
        <activity
            android:name=".classActivities.DriverSignup"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".classActivities.CreateAccount"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".classActivities.UserSignup"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".classActivities.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".classActivities.Login"
            android:exported="true" />
        <activity
            android:name=".classActivities.BookingActivity"
            android:exported="false" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- &lt;!&ndash; this is the searchable activity; it performs searches &ndash;&gt; -->
        <!-- <activity android:name=".SearchableActivity" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data android:name="android.app.searchable" -->
        <!-- android:resource="@xml/searchable"/> -->
        <!-- </activity> -->
        <!-- &lt;!&ndash; this activity enables the search dialog to initiate searches -->
        <!-- in the SearchableActivity &ndash;&gt; -->
        <!-- <activity android:name=".OtherActivity" > -->
        <!-- &lt;!&ndash; enable the search dialog to send searches to SearchableActivity &ndash;&gt; -->
        <!-- <meta-data android:name="android.app.default_searchable" -->
        <!-- android:value=".SearchableActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".classActivities.HomeUser"
            android:exported="true" />
        <activity
            android:name=".classActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>